name: Build Windows Executable

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyinstaller

    - name: Build with PyInstaller
      run: |
        # Use --debug=all to see what's wrong if it fails again
        pyinstaller --name "ColorAnalysis" --add-data "templates;templates" --add-data "static;static" --onefile --clean app.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: ColorAnalysis-Windows-Exe
        path: dist/ColorAnalysis.exe
